@tailwind base;
@tailwind components;
@tailwind utilities;

.style__1::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.style__1::-webkit-scrollbar-thumb {
  background-color: #00000057;
}

/* .style__1::-webkit-scrollbar {
  display: none;
} */
.style__1 {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  scrollbar-color: rgba(86, 85, 87, 0.486) rgb(41, 41, 41);
  scrollbar-width: thin;
}

.scroller {
  width: 300px;
  height: 100px;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}
