@tailwind base;
@tailwind components;
@tailwind utilities;

.style__1::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.style__1::-webkit-scrollbar-thumb {
  background-color: #00000057;
}

/* .style__1::-webkit-scrollbar {
  display: none;
} */
.style__1 {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: 1px solid red; /* Firefox */
}
