@tailwind base;
@tailwind components;
@tailwind utilities;

.style__1::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.style__1::-webkit-scrollbar-thumb {
  background-color: #00000057;
}

.style__1 {
  scrollbar-width: thin;
  scrollbar-color: red rgba(0, 0, 0, 0.116);
}

.style__1:hover {
  transition: all 0.5s;
  scrollbar-width: thin;
}
